* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* border: 2px solid #000; */
  margin: 0px auto;
  margin-top: 1rem;
}
h1 {
  margin-bottom: 2rem;
}
.colors-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.color {
  border: 2px solid rgb(0, 0, 0);
  width: 24%;
  height: 160px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
